/* container */
.ivu-layout, .container{
    overflow: hidden;
    .ivu-btn-large{
        padding: 5.69px 20px;
    }
}

/* flex */
.flex{display: flex;}
.flex-center{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flex-col{flex-direction: column;}
.flex-col-rev{flex-direction: column-reverse;}
.flex-row{flex-direction: row;}
.flex-row-rev{flex-direction: row-reverse;}

/* float & clear */
.right{
    float: right;
    height: 100%;
}
.left{
    float: left;
    height: 100%;
}
.clearfix{zoom: 1;}
.clearfix:after{
    visibility: hidden;
    display: table;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}

/* color */
.red, a.red{color: $red;}
.green, a.green{color: $green;}
.theme, a.theme{color: $theme;}

/* padding & margin */
.mt0{margin-top: 0 !important;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mb0{margin-bottom: 0 !important;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.ml0{margin-left: 0 !important;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.mr0{margin-right: 0 !important;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.pt0{padding-top: 0 !important;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pr0{padding-right: 0 !important;}
.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pb0{padding-bottom: 0 !important;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pl0{padding-left: 0 !important;}
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.margin0, .m0{margin: 0 !important;}
.margin10, .m10{margin: 10px;}
.margin20, .m20{margin: 20px;}
.padding0, .p0{padding: 0 !important;}
.padding10, .p10{padding: 10px;}
.padding20, .p20{padding: 20px;}

/* item */
.wi-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    padding-bottom: 24px;
    border-bottom: 1px solid #F6F6F6;
    margin-bottom: 24px;
    &:first-child{
        padding-top: 8px;
    }
    &:last-child{
        padding-bottom: 8px;
        margin-bottom: 0;
        border-bottom: none;
    }
    .wi-item-label{
        text-align: right;
        width: 150px;
        color: #999;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 20px;
    }
}

/* cascader */
.wi-cascader{
    .ivu-cascader-menu{
        .ivu-cascader-menu-item{
            font-size: 14px !important;
        }
    }
    .ivu-select-dropdown{
        .ivu-select-item{
            font-size: 14px !important;
        }
    }
}

/* card */
.ivu-card{
    .ivu-card-head{
        border-color: #F3F3F3;
        .wi-card-title{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 14px;
            i.ivu-icon{
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }
    .wi-card-explain{
        padding: 0 15px;
        li{
            list-style: bengali;
        }
    }
    &:hover{
        box-shadow: none;
        border-color: #E8EAEC;
    }
}

/* pagination */
.wi-pagination{
    padding: 24px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .ivu-page{
        .ivu-select-placeholder,
        .ivu-select-selected-value,
        .ivu-select-dropdown-list .ivu-select-item{
            font-size: 14px !important;
        }
        input[type="text"]{
            text-align: center;
            font-size: 14px;
        }
        .ivu-page-total{
            vertical-align: bottom;
            color: #999;
        }
        .ivu-page-item-active{
            background-color: $theme;
            a{color: $white;}
        }
    }
    .pagination-total{
        margin-right: 15px;
        color: #BABABA;
        font-size: 14px;
    }
    &.center{
        justify-content: center;
    }
    &.left{
        justify-content: flex-start;
    }
}

/* input */
.wi-input{
    input.ivu-input{width: 120px;}
    &.wi-input-middle{
        input.ivu-input{width: 192px;}
    }
    &.wi-input-large{
        input.ivu-input{width: 288px;}
    }
    .ivu-input-group-large{
        .ivu-input-group-prepend,
        .ivu-input-group-append{
            min-width: 90px;
            color: #7E7E7E;
            .ivu-select,
            .ivu-select-item,
            .ivu-select-selected-value{
                color: #7E7E7E;
                font-size: 14px !important;
            }
        }
    }
    .ivu-input-number{
        min-width: 120px;
        .ivu-input-number-handler-wrap{
            opacity: 1;
        }
        .ivu-input-number-input-wrap{
            .ivu-input-number-input{
                padding-right: 29px;
                text-align: center;
                &:disabled{
                    padding-right: 7px;
                }
            }
        }
    }
    &.wi-input-format{
        .ivu-input-number{
            .ivu-input-number-input-wrap{
                .ivu-input-number-input{
                    text-align: left;
                }
            }
        }
    }
}

/* radio */
.wi-radio{
    .ivu-radio-wrapper:hover{
        .ivu-radio-inner{
            border-color: $theme;
        }
        &.ivu-radio-wrapper-disabled:hover{
            .ivu-radio-inner{
                border-color: #DCDEE2;
            }
        }
    }
    &.wi-radio-custom{
        z-index: 100;
        .ivu-radio{
            display: none;
        }
        .ivu-radio-group-item:last-child{
            margin-right: 0;
        }
        span.ivu-radio + *{
            width: 100px;
            height: 36px;
            line-height: 34px;
            text-align: center;
            border: 1px solid #D8D8D8;
            display: block;
            font-size: 14px;
            border-radius: 4px;
            cursor: pointer;
            margin-right: -2px;
            margin-left: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 0 2px;
            &:hover{
                border: 1px solid $theme;
                color: $theme;
            }
        }
        span.ivu-radio-checked{
            & + *,
            & + *:hover{
                border: 1px solid $theme;
                background-color: $theme;
                color: $white;
            }
        }
        span.ivu-radio-disabled{
            & + *,
            & + *:hover{
                background: #F3F3F3;
                color: #CCC;
                opacity: .72;
                cursor: not-allowed;
                border: 1px solid #D8D8D8;
            }
        }
    }
}

/* checkbox */
.wi-checkbox{
    .ivu-checkbox-wrapper:hover{
        .ivu-checkbox-inner{
            border-color: $theme;
        }
        &.ivu-checkbox-wrapper-disabled:hover{
            .ivu-checkbox-inner{
                border-color: #DCDEE2;
            }
        }
    }
    .ivu-checkbox-large{
        .ivu-checkbox-checked{
            .ivu-checkbox-inner:after{
                width: 6px;
                top: 2px;
                left: 4px;
            }
        }
    }
    .ivu-checkbox-wrapper{
        font-size: 14px;
        .ivu-checkbox-inner{
            top: -1px;
        }
    }
    &.wi-checkbox-custom{
        z-index: 100;
        .ivu-form-item-content{
            line-height: 1;
        }
        .ivu-checkbox-group{
            display: inline-block;
            zoom: 1;
            *display: inline;
        }
        .ivu-checkbox{
            display: none;
        }
        .ivu-checkbox-group-item{
            margin-right: 15px;
            position: relative;
            border-radius: 4px;
            overflow: hidden;
        }
        .ivu-checkbox-group-item:last-child{
            margin-right: 0;
        }
        span.ivu-checkbox{
            & + *{
                width: 100px;
                height: 36px;
                line-height: 34px;
                text-align: center;
                border: 1px solid #D8D8D8;
                display: block;
                font-size: 14px;
                border-radius: 4px;
                cursor: pointer;
                margin-right: 0;
                margin-left: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding: 0 2px;
                &:hover{
                    border: 1px solid $theme;
                    color: $theme;
                }
            }
        }
        span.ivu-checkbox-checked{
            & + *,
            & + *:hover{
                border: 1px solid $theme;
                color: $theme;
            }
        }
        .wi-checkbox-arrow{
            display: none;
            width: 0;
            height: 0;
            border-width: 20px 0 26px 26px;
            border-style: solid;
            border-color: transparent transparent $theme transparent;
            position: absolute;
            top: -10px;
            right: 0;
        }
        i.ivu-icon{
            display: none;
        }
        .ivu-checkbox-wrapper-checked{
            i.ivu-icon{
                display: inline-block;
                font-size: 32px;
                color: $white;
                position: absolute;
                top: 11px;
                right: -8px;
                z-index: 100;
            }
            .wi-checkbox-arrow{
                display: block;
            }
        }
        span.ivu-checkbox-disabled{
            & + *,
            & + *:hover{
                border: 1px solid #D8D8D8;
                color: #CCC;
                cursor: not-allowed;
                background: #F3F3F3;
            }
        }
    }
}

/* select */
.wi-select{
    .ivu-select{
        width: 120px;
    }
    &.wi-select-middle{
        .ivu-select{
            width: 192px;
        }
    }
    &.wi-select-large{
        .ivu-select{
            width: 288px;
        }
    }
    .ivu-select-selection{
        min-width: 50px;
        height: 36px;
        .ivu-select-placeholder,
        .ivu-select-selected-value,
        .ivu-select-input{
            font-size: 14px;
            height: 36px;
            line-height: 34px;
        }
    }
    .ivu-select-dropdown{
        .ivu-select-item{
            font-size: 14px !important;
        }
    }
    .ivu-select-multiple{
        .ivu-select-selection{
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .ivu-tag{
                font-size: 14px;
            }
            > div {
                padding: 5px;
                .ivu-select-placeholder{
                    height: auto;
                    line-height: 24px;
                }
            }
            .ivu-select-input{
                font-size: 14px;
                height: auto;
                line-height: 24px;
            }
        }
    }
    .ivu-select-disabled{
        .ivu-select-selected-value,
        .ivu-select-placeholder{
            padding-right: 8px;
            text-align: center;
        }
    }
}

/* textarea */
.wi-textarea{
    .ivu-input-wrapper-large{
        textarea{
            width: 600px;
            height: 200px;
        }
    }
}

/* slider */
.wi-slider{
    .ivu-form-item-content{
        display: block;
        width: 50%;
        .ivu-slider{
            font-size: 12px;
            .ivu-slider-bar{
                background: $theme;
            }
            &.ivu-slider-disabled{
                .ivu-slider-bar{
                    background: #CCC;
                }
            }
        }
    }
}

/* date picker */
.wi-date-picker{
    .ivu-date-picker{
        min-width: 216px;
        .ivu-input{
            font-size: 14px;
        }
        &.wi-date-picker-range{
            width: 350px;
        }
    }
}

/* time picker */
.wi-time-picker{
    .ivu-date-picker{
        .ivu-input{
            font-size: 14px;
        }
    }
}
