.wi-draggable{
    .wi-search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    .wi-draggable-box{
        padding: 16px 0 0;
        position: relative;
        overflow: hidden;
        display: flex;
        &.wi-draggable-target{
            padding: 16px;
        }
        .wi-draggable-prev,
        .wi-draggable-next{
            padding: 20px 1px;
            background: #EDEDED;
            border-radius: 4px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &.disabled{
                cursor: not-allowed;
                background: #F2F2F2;
            }
            i{
                font-size: 26px;
                color: #D6D6D6;
            }
        }
        .wi-draggable-prev{
            float: left;
        }
        .wi-draggable-next{
            float: right;
        }
        .wi-draggable-tip{
            position: absolute;
            width: 100%;
            top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #D1D1D1;
            &.hidden{
                display: none;
            }
        }
        .wi-draggable-content{
            width: 100%;
            margin: 0 17px;
            position: relative;
            overflow: hidden;
            z-index: 201811291950;
            .wi-draggable-list{
                width: 100%;
                min-width: 100000px;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                will-change: margin;
                transition: margin .3s ease-in-out;
                .wi-draggable-item{
                    margin-right: 17px;
                    cursor: move;
                    display: block;
                    flex-shrink: 0;
                    transition: opacity .3s;
                    opacity: 1;
                    outline: 0;
                    .wi-draggable-item-one{
                        background: #EDEDED;
                        margin-bottom: 10px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #929292;
                        .wi-draggable-item-image, img{
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                        }
                        .ivu-carousel-item{
                            position: relative;
                        }
                        .wi-draggable-item-block-image-cover{
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .wi-draggable-screen-line,
            .wi-draggable-align-line{
                position: absolute;
                display: block;
                border-left: 1px solid #F00;
                top: 0;
                height: 100%;
            }
            .wi-draggable-align-line-through{
                border-color: $green;
            }
        }
    }
    .wi-draggable-tabs{
        > .ivu-tabs{
            border: 1px solid #E9EAEC;
            border-radius: 4px;
            > .ivu-tabs-bar{
                margin-bottom: 0;
                .ivu-tabs-nav-scrollable{
                    padding: 0 25px;
                    .ivu-tabs-nav-prev,
                    .ivu-tabs-nav-next{
                        line-height: 52px;
                        padding-left: 10px;
                    }
                    .ivu-tabs-nav-next{
                        padding-right: 10px;
                    }
                }
                .ivu-tabs-nav .ivu-tabs-tab{
                    padding: 16px;
                }
            }
            > .ivu-tabs-content{
                align-items: center;
                z-index: 201810231106;
            }
            .ivu-tabs-tab{
                .ivu-icon.ivu-icon-ios-close-outline{
                    margin-right: 0;
                    margin-left: 15px;
                    font-size: 18px;
                    line-height: 22px;
                    width: 18px;
                    height: 18px;
                    float: right;
                    vertical-align: -1px;
                    display: none;
                }
                &.ivu-tabs-tab-active{
                    .ivu-icon.ivu-icon-ios-close-outline{
                        display: inline-block;
                        color: $red;
                    }
                }
            }
        }
    }
    .wi-draggable-dragging{
        opacity: 0.5;
    }
}
.wi-draggable-body{
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 201810231045;
    background: #000;
    opacity: .3;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.wi-common-layout-preview-modal{
    .ivu-modal-header{
        p,
        .ivu-modal-header-inner{
            font-weight: 400;
            font-size: 16px;
        }
    }
    .ivu-modal-footer{
        display: none;
    }
    .wi-common-layout-prev,
    .wi-common-layout-next{
        width: 70px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        will-change: width;
        transition: .4s ease;
        z-index: 201809191754;
        i{
            font-size: 28px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #CBCBCB;
            cursor: pointer;
            width: 40px;
            height: 40px;
            opacity: .5;
            &:hover{
                background: $theme;
                color: $white;
            }
            &.disabled{
                &:hover{
                    background: #CBCBCB;
                    color: $white;
                    cursor: not-allowed;
                }
            }
        }
    }
    .wi-common-layout-search{
        padding: 15px;
        .wi-search-list{
            border: 1px solid #E9EAEC;
            border-radius: 4px;
            margin-top: 15px;
            padding: 15px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .wi-search-content{
                width: 960px;
                overflow: hidden;
                ul{
                    will-change: margin;
                    transition: .4s ease;
                    width: 1000000px;
                    li{
                        width: 150px;
                        height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #EDEDED;
                        border: 1px solid #EDEDED;
                        color: rgba(101, 101, 101, 0.8);
                        font-size: 14px;
                        border-radius: 4px;
                        margin-right: 12px;
                        float: left;
                        overflow: hidden;
                        padding: 15px;
                        word-break: break-all;
                        &:nth-child(6n){
                            margin-right: 0;
                        }
                        &:hover{
                            cursor: pointer;
                            border: 1px solid $theme;
                            color: $theme;
                            background: $white;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                        &.wi-search-item-active{
                            border: 1px solid $theme;
                            color: $theme;
                            background: $white;
                        }
                    }
                }
            }
        }
    }
    .wi-common-layout-name{
        font-size: 16px;
        font-weight: normal;
        padding: 0 15px 15px;
        color: #6D6D6D;
        opacity: .8;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .wi-common-layout-container{
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
        border: 1px solid #E9EAEC;
        border-radius: 4px;
        .wi-common-layout-content{
            width: 960px;
            max-height: 500px;
            overflow: hidden;
            border-left: 1px solid #CECECE;
            border-right: 1px solid #CECECE;
            .wi-common-layout-row{
                will-change: margin;
                transition: .4s ease;
                .wi-common-layout-list{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    .wi-common-layout-item{
                        .wi-common-layout-block{
                            background: #EDEDED;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                            color: #9A9A9A;
                        }
                    }
                }
            }
            &::-webkit-scrollbar{
                width: 4px;
                height: 4px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar-track{
                -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
                border-radius: 2px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar-thumb{
                border-radius: 2px;
                -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
                background-color: #CCC;
            }
            &:hover{
                overflow: auto;
                overflow-x: hidden;
            }
        }
    }
    .wi-common-layout-btn{
        padding: 15px;
    }
}
.wi-container{
    > .wi-draggable-item{
        display: none;
    }
}