.wi-form{
    .ivu-form-item{
        border-bottom: 1px solid #F6F6F6;
        padding-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .ivu-form-item-label,
        .ivu-form-item-content{
            font-size: 14px;
        }
        .ivu-form-item-label{
            line-height: 24px;
        }
        .ivu-form-item-content{
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .ivu-form-item-label{
            width: 130px;
            padding: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: 20px;
            color: #999;
        }
        .ivu-form-item-error-tip{
            position: relative;
            top: 0;
            left: 0;
            min-width: 200px;
            padding-top: 0;
            margin-left: 15px;
            max-width: 550px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &:last-child{
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
