.fl-container{
    .fl-content{
        .ivu-form-item{
            border-bottom: 1px solid #ededed;
            padding-bottom: 24px;
            .ivu-form-item-label,
            .ivu-form-item-content{
                font-size: 14px;
            }
            .ivu-form-item-label{
                width: 120px;
                max-width: 15%;
                padding: 12px 12px 12px 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                float: left;
            }
            .ivu-form-item-error-tip{
                left: 10px;
                top: 5px;
                position: relative;
                float: left;
            }
            .ivu-form-item-content{
                max-width: 85%;
                float: left;
                .ivu-row.form-input{
                    width: 33.333333%;
                    float: left;
                    min-width: 350px;
                }
            }
        }
        .ivu-form-item:after{
            visibility: hidden;
            display: table;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
        .ivu-form-item:last-child{
            border-bottom: none;
        }
    }
    .fl-radio{
        float: left;
        .ivu-radio{
            display: none;
        }
        .ivu-radio-group-item{
            margin-right: 15px;
        }
        .ivu-radio-group-item:last-child{
            margin-right: 0;
        }
        span.ivu-radio + *{
            width: 100px;
            height: 34px;
            line-height: 32px;
            text-align: center;
            border: 1px solid #d8d8d8;
            display: block;
            font-size: 14px;
            border-radius: 4px;
            cursor: pointer;
            margin-right: -2px;
            margin-left: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 0 2px;
        }
        span.ivu-radio + *:hover{
            border: 1px solid $themeColor;
            color: $themeColor;
        }
        span.ivu-radio-checked + *,
        span.ivu-radio-checked + *:hover{
            border: 1px solid $themeColor;
            background-color: $themeColor;
            color: #FFF;
        }
    }
    .fl-checkbox{
        .ivu-checkbox{
            display: none;
        }
        .ivu-checkbox-group-item{
            margin-right: 15px;
            position: relative;
        }
        .ivu-checkbox-group-item:last-child{
            margin-right: 0;
        }
        span.ivu-checkbox + *{
            width: 100px;
            height: 34px;
            line-height: 32px;
            text-align: center;
            border: 1px solid #d8d8d8;
            display: block;
            font-size: 14px;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 0;
            margin-left: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 0 2px;
        }
        span.ivu-checkbox + *:hover{
            border: 1px solid $themeColor;
            color: $themeColor;
        }
        span.ivu-checkbox-checked + *,
        span.ivu-checkbox-checked + *:hover{
            border: 1px solid $themeColor;
            color: $themeColor;
        }
        .fl-checkbox-arrow{
            display: none;
            width: 0;
            height: 0;
            border-width: 20px 0 26px 26px;
            border-style: solid;
            border-color: transparent transparent $themeColor transparent;
            position: absolute;
            top: -12px;
            right: 0;
        }
        i.ivu-icon{
            display: none;
        }
        .ivu-checkbox-wrapper-checked{
            i.ivu-icon{
                display: inline-block;
                font-size: 32px;
                color: #FFF;
                position: absolute;
                top: 8px;
                right: 3px;
                z-index: 100;
            }
            .fl-checkbox-arrow{
                display: block;
            }
        }
    }
}