.layout-header,
.layout-footer{
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}
.layout{
    .sider{
        min-height: 100vh;
        -webkit-box-shadow: 2px 0 6px rgba(0,21,41,.35);
        box-shadow: 2px 0 6px rgba(0,21,41,.35);
        position: relative;
        -webkit-transition: all .2s;
        transition: all .2s;
        background: $darkColor;
        z-index: 10;
        flex: 0 0 256px;
        max-width: 256px;
        min-width: 256px;
        width: 256px;
        .sider-children{
            height: 100%;
            padding-top: .1px;
            margin-top: -.1px;
            .sider-logo{
                height: 64px;
                position: relative;
                line-height: 64px;
                padding-left: 24px;
                -webkit-transition: all .3s;
                transition: all .3s;
                background: #002140;
                overflow: hidden;
                img, h1{
                    display: inline-block;
                    vertical-align: middle;
                }
                img{
                    height: 32px;
                }
                h1{
                    color: #FFF;
                    font-size: 20px;
                    margin: 0 0 0 12px;
                    font-family: "Microsoft YaHei","Myriad Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
                    font-weight: 600;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .sider-menu{
                padding: 15px 0;
                .ivu-menu{
                    background: #000C17;
                    .ivu-menu-item{
                        height: 40px;
                        padding: 0;
                        line-height: 40px;
                        margin: 4px 0 8px 0;
                        -webkit-transition: border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
                        transition: border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
                    }
                }
                .ivu-menu:before,
                .ivu-menu:after{
                    content: "";
                    display: table;
                }
                .ivu-menu:after{
                    clear: both;
                }
                .ivu-icon{
                    font-size: 18px;
                    margin-right: 10px;
                    width: 16px;
                }
                .ivu-menu-dark{
                    background: transparent;
                    .ivu-menu-opened{
                        background: #000C17;
                        .ivu-menu-item-selected{
                            background: $themeColor;
                        }
                    }
                    .ivu-menu-item-selected{
                        background: $themeColor;
                        color: #FFF;
                    }
                }
                .ivu-menu-opened{
                    .ivu-menu-submenu-title{
                        background: $darkColor;
                    }
                }
                .ivu-menu-submenu{
                    .ivu-menu-submenu-title{
                        padding: 15px 20px;
                    }
                    .ivu-menu-submenu-title:hover,
                    .ivu-menu-submenu-title:active,
                    .ivu-menu-submenu-title:visited{
                        background: $darkColor;
                    }
                    .ivu-menu-submenu{
                        .ivu-menu-submenu-title,
                        .ivu-menu-submenu-title:hover,
                        .ivu-menu-submenu-title:active,
                        .ivu-menu-submenu-title:visited{
                            background: #000C17;
                        }
                    }
                    .ivu-menu-item{
                        background: #000C17;
                        a{
                            color: rgba(255, 255, 255, 0.7);
                        }
                        a:before{
                            position: absolute;
                            background-color: transparent;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            content: "";
                        }
                    }
                    .ivu-menu-item-selected a{
                        color: #FFF;
                    }
                    .ivu-menu-item:hover,
                    .ivu-menu-item:visited,
                    .ivu-menu-item:active{
                        background: #000C17;
                        a, a:hover, a:link, a:visited{
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
    .sider-collapsed{
        flex: 0 0 80px;
        max-width: 80px;
        min-width: 80px;
        width: 80px;
        .sider-children{
            .sider-menu{
                .ivu-menu{
                    .ivu-menu-item{
                        background: transparent;
                    }
                    .ivu-menu-item-active:not(.ivu-menu-submenu){
                        border-right: 0;
                    }
                    .ivu-dropdown{
                        .ivu-dropdown-rel{
                            padding: 0 32px;
                            .ivu-icon{
                                margin-right: 0;
                            }
                        }
                        .ivu-select-dropdown{
                            color: hsla(0, 0%, 100%, .65);
                            background: #001529;
                            min-width: 160px;
                            .ivu-dropdown-menu:before,
                            .ivu-dropdown-menu:after{
                                content: "";
                                display: table;
                            }
                            .ivu-dropdown-menu:after{
                                clear: both;
                            }
                            .ivu-dropdown-menu{
                                .ivu-dropdown-item{
                                    height: 40px;
                                    line-height: 40px;
                                    margin-top: 4px;
                                    margin-bottom: 4px;
                                    text-overflow: ellipsis;
                                    cursor: pointer;
                                    padding: 0 20px;
                                    display: block;
                                    position: relative;
                                    white-space: nowrap;
                                    color: hsla(0, 0%, 100%, .65);
                                    border-right: 0;
                                    margin-left: 0;
                                    left: 0;
                                    font-size: 14px;
                                    -webkit-transform-origin: 0 0;
                                    transform-origin: 0 0;
                                    -webkit-transition: color .3s cubic-bezier(.645,.045,.355,1),border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
                                    transition: color .3s cubic-bezier(.645,.045,.355,1),border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
                                    a{
                                        color: hsla(0, 0%, 100%, .65);
                                        font-size: 14px;
                                    }
                                    a:before{
                                        position: absolute;
                                        background-color: transparent;
                                        top: 0;
                                        left: 0;
                                        bottom: 0;
                                        right: 0;
                                        content: "";
                                    }
                                    a.router-link-active{
                                        color: #FFF;
                                    }
                                    .ivu-dropdown-rel{
                                        padding: 0;
                                        .ivu-icon{
                                            position: absolute;
                                            right: 0;
                                            top: 12px;
                                            text-align: right;
                                        }
                                    }
                                    .ivu-dropdown-rel:hover{
                                        a, .ivu-icon{
                                           color: #FFF;
                                        }
                                    }
                                    .ivu-select-dropdown{
                                        margin-left: 20px;
                                        top: -14px !important;
                                    }
                                }
                                .ivu-dropdown-item:hover,
                                .ivu-dropdown-item:active,
                                .ivu-dropdown-item:visited{
                                    background: transparent;
                                    color: #FFF;
                                }
                                .ivu-dropdown-item:not(:last-child){
                                    margin-bottom: 8px;
                                }
                                .ivu-menu-item-selected,
                                .ivu-menu-item-selected:hover,
                                .ivu-menu-item-selected:active,
                                .ivu-menu-item-selected:visited{
                                    background: $themeColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .layout-header{
        background: $darkColor;
        padding: 0;
        height: 64px;
        line-height: 64px;
        .header{
            height: 64px;
            padding: 0 20px 0 0;
            background: #fff;
            -webkit-box-shadow: 0 1px 4px rgba(0,21,41,.08);
            box-shadow: 0 1px 4px rgba(0,21,41,.08);
            position: relative;
            .header-trigger{
                font-size: 28px;
                line-height: 64px;
                cursor: pointer;
                -webkit-transition: all .3s,padding 0s;
                transition: all .3s,padding 0s;
                padding: 0 24px;
            }
            .ivu-icon{
                display: inline-block;
            }
            .ivu-icon:hover{
                background: #e6f7ff;
            }
            .header-nav{
                .nav-item{
                    line-height: 64px;
                    padding-left: 30px;
                }
                .nav-item:last-child{
                    cursor: pointer;
                }
                .ivu-icon{
                    font-size: 20px;
                    line-height: 64px;
                    padding-right: 6px;
                    vertical-align: -1px;
                }
            }
        }
    }
}
.has-sider > .ivu-layout{
    -ms-flex-direction: row;
    flex-direction: row;
}
.ivu-layout{
    .ivu-breadcrumb{
        background: #FFF;
    }
    .ivu-breadcrumb {
        padding: 16px 32px;
        margin-bottom: 16px;
    }
    .ivu-breadcrumb{
        padding: 16px 32px;
        margin-bottom: 16px;
        span{
            a, a:active, a:hover, a:visited{
                color: $themeColor;
            }
            .ivu-icon{
                font-size: 16px;
                margin-right: 5px;
                vertical-align: -1px;
            }
        }
        span:last-child{
            font-weight: normal;
            span{
                color: #C0C0C0;
                cursor: default;
            }
        }
    }
    .ivu-layout-content{
        margin: 15px 15px 0;
        height: 100%;
        min-height: 470px;
    }
    .layout-footer{
        background: #f5f7f9;
        padding: 24px 50px;
        color: rgba(0,0,0,.65);
        font-size: 14px;
        .footer-content{
            padding: 0 16px;
            margin: 48px 0 24px;
            text-align: center;
            .copyright{
                color: rgba(0,0,0,.45);
                font-size: 14px;
            }
        }
    }
}