.ivu-modal-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  .ivu-modal{
    top: 0;
  }
  .fl-search{
    .search-input{
      width: 350px;
      margin-right: 20px;
    }
    .search-button{
      button{
        margin-right: 10px;
      }
      button:last-child{
        margin-right: 0;
      }
    }
    .search-senior{
      border: 1px solid #e8e8ea;
      border-radius: 2px;
      padding: 10px;
      margin-top: 20px;
      width: 100%;
    }
  }
  .ivu-modal-content{
    .ivu-modal-body{
      padding: 0;
      .ivu-modal-confirm{
        padding: 0;
        .ivu-modal-confirm-head{
          height: 42px;
          line-height: 42px;
          padding: 0 20px;
          border-bottom: 1px solid #f1f1f1;
          .ivu-modal-confirm-head-title{
            font-weight: normal;
            font-size: 14px;
          }
        }
        .ivu-modal-confirm-body{
          margin: 20px 0 0 0;
          padding: 0 20px;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          .ivu-modal-confirm-body-icon{
            position: relative;
            top: unset;
            left: unset;
            margin-right: 10px;
            i{
              vertical-align: 2px;
            }
          }
        }
        .ivu-modal-confirm-footer{
          padding: 20px;
          border-top: 1px solid #f1f1f1;
          margin-top: 20px;
          .ivu-btn-text{
            border: 1px solid #dddee1;
            border-radius: 4px;
            margin-right: 10px;
          }
          .ivu-btn-text:hover{
            color: #495060;
          }
        }
      }
    }
  }
}