.wi-pagination{
    padding: 24px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .ivu-page{
        .ivu-select-placeholder,
        .ivu-select-selected-value,
        .ivu-select-dropdown-list .ivu-select-item{
            font-size: 14px !important;
        }
        input[type="text"]{
            text-align: center;
            font-size: 14px;
        }
        .ivu-page-total{
            vertical-align: bottom;
            color: #999;
        }
        .ivu-page-item-active{
            background-color: $theme;
            a{color: $white;}
        }
    }
    .pagination-total{
        margin-right: 15px;
        color: #BABABA;
        font-size: 14px;
    }
    &.center{
        justify-content: center;
    }
    &.left{
        justify-content: flex-start;
    }
}
