.wi-table{
    .ivu-table-wrapper,
    .ivu-table-wrapper > .ivu-spin-fix{
        border: none;
    }
    .ivu-table-stripe{
        .ivu-table-body tr:nth-child(2n),
        .ivu-table-fixed-body tr:nth-child(2n){
            td{background-color: #FBFCFE;}
        }
    }
    .ivu-table{
        &:before{
            height: 0;
        }
        &:after{
            width: 0;
        }
        .ivu-table-header{
            th{
                font-weight: 400;
                background: #F2F3F7;
                .ivu-table-cell{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    .ivu-table-sort{
                        margin-top: 2px;
                    }
                }
                .ivu-table-filter{
                    i.ivu-icon{margin-left: 4px;}
                }
            }
            .ivu-table-column-center{
                .ivu-table-cell{
                    justify-content: center;
                }
            }
            .ivu-table-column-right{
                .ivu-table-cell{
                    justify-content: flex-end;
                }
            }
        }
        .ivu-table-body{
            overflow-x: hidden;
            overflow-y: auto;
            .ivu-table-row{
                .ivu-table-cell{
                    .image{
                        max-width: 200px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 15px 0;
                        img{
                            height: 80px;
                            width: 80px;
                            border-radius: 4px;
                            cursor: pointer;
                        }
                    }
                    .date{
                        max-width: 250px;
                        p{
                            color: #999;
                            line-height: 24px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                    .attach{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .attach-image{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 80px;
                            max-height: 80px;
                            margin: 10px 16px 10px 0;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .gray{
                            color: rgba(#000000, .25);
                        }
                    }
                    .action{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        span,
                        > .action-item{
                            cursor: pointer;
                            margin-right: 16px;
                            color: $theme;
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                        .ivu-poptip-popper{
                            min-width: 0;
                            a.action-item{
                                display: block;
                                font-size: 14px;
                                padding: 5px 10px;
                            }
                        }
                        .action-item-delete{
                            color: #FF1A2E;
                        }
                    }
                }
                &.ivu-table-row-hover,
                &.ivu-table-row-highlight{
                    td{background: #ebf7ff;}
                }
                &.ivu-table-row-highlight{
                    td{
                        border-top: 1px solid rgba(64, 158, 255, 0.8);
                        border-bottom: 1px solid rgba(64, 158, 255, 0.8);
                        &:first-child{
                            border-left: 1px solid rgba(64, 158, 255, 0.8);
                        }
                        &:last-child{
                            border-right: 1px solid rgba(64, 158, 255, 0.8);
                        }
                    }
                }
            }
        }
        .ivu-table-tip{
            padding: 20px;
            overflow: hidden;
            border: 1px solid #e8eaec;
            border-top: none;
            td{
                border-bottom: none;
            }
        }
    }
    .ivu-checkbox-checked{
        .ivu-checkbox-inner:after{
            top: 1.5px;
            left: 4.5px;
        }
    }
    .wi-table-footer-btn{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        button{
            cursor: pointer;
        }
    }
}
.ivu-table-popper{
    .ivu-checkbox-wrapper{
        padding: 5px;
        font-size: 14px;
    }
    .ivu-table-filter-footer{
        padding: 4px 8px;
        button{font-size: 14px;}
    }
}
