.wi-upload{
    @keyframes rotating {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes progress {
        from {
            background-position: 0
        }

        to {
            background-position: calc(100%)
        }
    }
    .wrapper{
        &.compressed{
            width: 100%;
        }
        display: inline-block;
        max-width: 100%;
        line-height: 1;
        .noteText{
            font-size: 12px;
            line-height: 1;
            color: #AAA;
            vertical-align: bottom;
            margin-bottom: 3px;
            display: inline-block;
            word-break: keep-all;
            white-space: nowrap;
        }
        box-sizing: border-box;
        user-select: none;
        &.dragging{
            .cover{
                visibility: hidden;
            }
        }
        .loading{
            width: 120px;
            height: 120px;
            line-height: 120px;
            text-align: center;
            display: inline-block;
            color: #BBB;
            i{
                transform-origin: center center;
                animation: rotating 0.8s linear infinite;
            }
        }
        .template-wrapper{
            display: inline-block;
            line-height: 1;
            vertical-align: top;
            width: 120px;
            height: 120px;
            box-sizing: border-box;
            margin-right: 5px;
            .progress{
                width: 120px;
                height: 120px;
                line-height: 120px;
            }
            .compress-wrapper{
                padding-top: 57px;
                .txt{
                    text-align: center;
                    color: #999;
                }
                .compress-bar{
                    height: 10px;
                    width: 100%;
                    background: red;
                    border-radius: 100px;
                    background: linear-gradient(45deg, #2989D8 10px, #7DB9E8 11px, #7DB9E8 20px, #2989D8 21px);
                    background-size: 30px 100%;
                    background-repeat: repeat-x;
                    animation: progress 1.5s linear 0s infinite;
                }
            }
        }
        .compressList-table-wrapper{
            width: 100%;
            .compressList-table{
                margin-top: 15px;
                width: 100%;
            }
            >>> .sizeCompare{
                cursor: pointer;
                &:hover {
                    color: #1890FF;
                }
            }
            >>> .ivu-table-cell-ellipsis{
                line-height: 16px;
            }
        }
        .drag-item{
            position: relative;
            width: 100%;
            height: 100%;
            line-height: 1;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            border: 1px solid #D8D8D8;
            border-radius: 4px;
            &:hover{
                .cover{
                    top: 0
                }
            }
            .img-wrapper{
                width: 100%;
                height: 100%;
                font-size: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .drag-img {
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                    margin: auto;
                    cursor: pointer;
                }
            }
            .cover{
                width:23px;
                height:42px;
                background: url('~@/components/upload/coverBg.png');
                background-size: 100% 100%;
                position: absolute;
                top: -100%;
                left: -1px;
                transition: .5s;
                .cover-item{
                    height:18px;
                    background-size: 12px 9px;
                    background-position:center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    &.view{
                        background-image: url('~@/components/upload/view.png');
                    }
                    &.delete{
                        background-image: url('~@/components/upload/delete.png');
                    }
                }
            }
            &.dragActive{
                .drag-img,
                .cover{
                    visibility: hidden;
                }
            }
        }
        .uploader{
            line-height: 1;
            >>> .ivu-upload-drag{
                width: 120px;
                height: 120px;
                box-sizing: border-box;
            }
            .uploadBtn{
                width: 120px;
                height: 120px;
                color: #A9A9A9;
                box-sizing: border-box;
                .btnIcon{
                    height: 110px;
                    line-height: 110px;
                }
                .btnText{
                    font-size: 12px;
                    line-height: 1;
                    margin-top: -35px;
                }
            }
            .uploadBtn:hover{
                color: #2D8CF0;
            }
        }
    }
}
.wi-modal-cover{
    .ivu-modal-footer{
        display: none !important;
    }
}
