@charset "UTF-8";

$theme: #409EFF;
$dark: #001529;
$green: #5CB85C;
$red: #ED3F14;
$orange: #EC971F;
$white: #FFFFFF;
$black: #002140;
$gray: #000C17;
$error: #ED4014;
$title: rgba(0, 0, 0, .85);
$body: rgba(0, 0, 0, .65);
$caption: rgba(0, 0, 0, .45);
$disabled: rgba(0, 0, 0, .45);
