@charset "UTF-8";

$theme: #1890FF;
$dark: #001529;
$green: #5CB85C;
$red: #ED3F14;
$orange: #EC971F;
$white: #FFFFFF;
$black: #002140;
$gray: #000C17;

html, body{
    width: 100%;
    height: 100%;
}
html{
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
    margin: 0;
    font-family: "Microsoft YaHei","Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    background-color: $white;
}
a{
    color: $theme;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}
img{
    vertical-align: middle;
    border-style: none;
}
pre, code, kbd, samp{
    margin: 0;
    font-family: "Courier New","Source Code Pro","Miscrosoft Yahei","Segoe UI","Lucida Grande",Helvetica,Arial,FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",sans-serif;
    font-size: 14px;
}
@import "./components/basic";
@import "./components/layout";
@import "./components/table";
@import "./components/modal";
@import "./components/form";
@import "./views/logs";
@import "./components/upload";
@import "./components/transfer";